@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

h1 {
    text-align: center;
    color: #34495e;
}

body {
    background: ghostwhite;
    min-height: 100vh;
}

.game__play {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.flex__content__center {
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

.players {
    margin: 0 25px;
}

.player-weapon {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.controllers {
    margin: 0 25px;
}

.details .info {
    text-align: center;
    color: #34495e;
    font-size: 21px;
}

.footer {
    margin-top: 5%;
}

.link__text__white {
    color: #34495e;
}

.footer__text {
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 576px) {
    .game__play {
        display: flex;
        flex-direction: column;
    }

    .controllers .weapons {
        margin-top: 8%;
        margin: auto;
    }

    .footer {
        margin-top: 25%;
        margin-bottom: 1%;
    }
}
